# Theme
.sass-cache
.bin
node_modules
bower_components

# OSX
.DS_Store

# Ant
build
build.properties

# Composer
vendor

# Behat
tests/bin
tests/behat.local.yml
tests/behat.yml

# Contrib
modules/contrib/*
themes/contrib/*
core
profiles

# Libraries
libraries/*

# PHPStorm
.idea

# Other
private
